{namespace hf=AOE\HappyFeet\ViewHelpers}
{namespace f=TYPO3Fluid\Fluid\ViewHelpers\HtmlViewHelper}
<hf:flatify>
    <sup class="footnote" data-footnote="">
        <a name="footnote-back-{footnotes.0.indexNumber}"></a>
        <a href="#footnote-{footnotes.0.indexNumber}" class="footnote__link">
            <span class="footnote__index">
                {footnotes.0.indexNumber}
            </span>
            <span class="footnote__icon"></span>
        </a>
        <div class="footnote__content">
            <a name="footnote-{footnotes.0.indexNumber}"></a>
            <span class="footnote__content-index"><a class="footnote__backlink" href="#footnote-back-{footnotes.0.indexNumber}">{footnotes.0.indexNumber}</a></span>
            <span class="footnote__content-headline"
                  data-footnote-index="{footnotes.0.indexNumber}">{footnotes.0.header}</span>
            <span class="footnote__content-text"><f:format.html parseFuncTSPath="lib.parseFunc">{footnotes.0.description}</f:format.html></span>
        </div>
    </sup>
</hf:flatify>
